body {
    background: url("../img/guest.jpg");
    background-size: 100%;
}

.table {
    height: 350px;
    overflow: auto;
}

.hasDatepicker {
    width: 150px;
}

table {
    padding: 0;
    width: 100%;
}