body {
    display: flex;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    background: url("../img/index.jpg");
    background-size: 100%;
}

button, input, optgroup, select, textarea {
    margin-bottom: 10px;
}

h2 {
    color: seashell;
}

form {
    display: contents;
    margin-bottom: 0;
}

.buttons button {
    width: 49%;
}

.form {
    max-width: 330px;
    border-radius: 10px;
    margin: auto;
    background-color: rgba(80, 80, 80, 0.5);
    padding: 15px;
}

.form-control {
    line-height: inherit;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}