body {
    display: flex;
    height: 100%;
    background: url("../img/guest.jpg");
    background-size: 100%;
}

.container {
    margin: auto;
}

.form {
    align-content: center;
    border-radius: 10px;
    background-color: rgba(80, 80, 80, 0.5);
    padding: 15px;
}

.form-control {
    display: inline-block;
}

input {
    max-width: 200px;
}